@model List<sellhandproduct.Models.ApplicationUser>
@{
    ViewData["Title"] = "User List"; 
}

<div class="container mt-5">
    <h2>User List</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
               
                <th>view</th>  
                <th>Delete</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model) 
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>  
                    <td>@user.Email</td>   
                    <th><a href="/Employees/ViewEmployees/@user.Id">View</a> </th>
                    <td>
                          <form asp-controller="Employees" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



